body{
    margin: 0px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: #2f1f89;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    /*display: inline-flex;*/
}
.navbar a{
    color: #FFFFFF;
    text-decoration: none; 
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #1c1259;
}

.navbar li{
    float: left;
}